@model CrudExcelencia.Models.Paciente

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Detalles del paciente</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" class="form-control" name="Nombres" value="@Model.Nombres" readonly />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" name="Apellidos" value="@Model.Apellidos" readonly />
                </div>
                <div class="form-group
">
                    <label>DNI</label>
                    <input type="number" class="form-control" name="DNI" value="@Model.DNI" readonly />
                </div>
                <div class="form-group
">
                    <label>Fecha Nacimiento</label>
                    <input type="date" class="form-control" name="FechaNacimiento" value="@Model.FechaNacimiento" readonly />
                </div>
                <div class="form-group
">
                    <label>Telefono</label>
                    <input type="text" class="form-control" name="Telefono" value="@Model.Telefono" readonly />
                </div>
                <div class="form-group
">
                    <label>Correo</label>
                    <input type="email" class="form-control" name="Correo" value="@Model.Correo" readonly />
                </div>
                <a class="btn btn-warning" href="@Url.Action("Inicio", "Pacientes")">Volver</a>
            </div>
        </div>
    </div>
</div>
