@model List<CrudExcelencia.Models.Paciente>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de Pacientes</h3>
                </div>
                <div class="panel-body">
                    <div class="mb-3">
                        <a href="@Url.Action("Create", "Pacientes")" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i> Crear Nuevo Paciente
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>DNI</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th style="width:180px;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Apellido</td>
                                            <td>@item.DNI</td>
                                            <td>@item.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                                            <td>@item.Telefono</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <a href="@Url.Action("Editar", "Pacientes", new { id = item.Id })" class="btn btn-primary btn-sm" title="Editar">
                                                    <i class="glyphicon glyphicon-pencil"></i> Editar
                                                </a>
                                                <a href="@Url.Action("Eliminar", "Pacientes", new { id = item.Id })" class="btn btn-danger btn-sm" title="Eliminar">
                                                    <i class="glyphicon glyphicon-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No hay registros disponibles.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
